body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
}
header{
    /*background-color:black;
    color: darkgray; */
    padding: 20px 0;
   

}
.Encabezado{
    position: relative;
width: 940px;
margin: 0 auto;

}

h1{
    
    padding: 0 3em ;
}
.titulo3{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    /*color: rgb(179, 228, 175);*/
    color: blue;
 text-decoration: double;
}

.body3{
   /* background-color:lightgoldenrodyellow;*/
   background: linear-gradient(plum, palevioletred, purple);
    

    }

    #principal{
        width: 100%;
        padding: 3em 0;
       
    }
    textarea:focus{
        outline: none
    }
    
    #ingresoPalabra{
        
   
    
    width: 577px;
    left: 240px;
    top: 168px;
    border-radius: nullpx;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: transparent;
        resize: none;
        border: none;
    
    }
    
    .botones{
        text-decoration: none;
        text-align: center;
       }
    .guardar{  
       
        margin: 3em auto ;
        width: 330px;
        height: 67px;
        border-radius: 24px;
        padding:  1em 50px;
       /* background-color: #1ACF6E;*/
      
        border-color:  rgb(179, 228, 175);
        
        color: green;
        font-style: inherit;
        font-weight: bold;
        
        
       
    }
    .salir{
       
        margin: 3em auto ;
        width: 275px;
        height: 67px;
        border-radius: 24px;
        padding:  1em 80px;
      
        color: green;
        border-color:rgb(179, 228, 175);
       font-style: inherit;
       font-weight: bold;
      
    }
    .guardar:active,.salir:active{
        color: lime;
        background-color: lightcyan;
    }
    
    
    .guardar:hover, .salir:hover{
        transform: scale(1.05);
        
    }
    

footer{
    font-size: small;
    text-align: center;
    padding: 40px;
   
   }
   .nombre{
    
    font-style: italic;
    font-weight: bolder;
    font-size: x-small;
    color: blue;
    padding: 10px 30px;
   }
nav{
    position: relative;
    margin: 1px auto;
    
   }
   
  
   nav li{
       display: inline;
       margin: 0 0 0 15px;
   }
   nav a{
       text-transform: uppercase;
        color: aliceblue;
       font-weight: bold;
       font-size: 22px;
       text-decoration: none;
   }
   nav a:hover{
       
       text-decoration: underline;
   }
   .github, .in{
    width: 30px;
    height: 30px;
   }
   
   @media screen and (max-width:480px) {
    h1{
        text-align:center;
    }
    
    nav{
        position: static;
    }
     #principal,.footer, .Encabezado{
    width: auto;
    }
    #ingresoPalabra{
       margin: 15px 10px;
       padding: 15px 70px;
        width: 300px;
      }
      footer{
        margin: 3em auto;
      }
 
      .guardar, .salir{
        width: 80%;
        margin: 1em auto;
        
    }
    .guardar´{
        padding: 5px 5px;
    }
}